.small-node {
    width: 300px;
    height: 150px;
    background-color: #366bb6;
    font-size: 40px;
    border-radius: 16px;

    display: flex;
    align-items: center;     
    justify-content: center; 
}

.statistic-node-big {
    width: 300px;
    height: 200px;
    background-color: #366bb6;
}

.node-value{
    color: white;
}


